{% include template/header.html %}
{% include template/navigation.html %}
    <div class="wrapper2">
        <h2>Following</h2>
        <div id="following">
        {% if len(friends) %}
            <ul>
            {% for friend in friends %}
                <li>
                <a href="/profile/{{ friend.username }}">
                <img src="{{ friend.get_picture() }}&s=50"></img>
                <span style="vertical-align: 20px;">{{ friend.firstname }} {{ friend.lastname }} ({{ friend.username }})</span>
                </a>
                </li>
            {% end for %}
            </ul>
        {% else %}
            <div style="padding: 10px">
            <h2>You're currently following no-one</h2>
            <p>Check out popular users in your photo feed to get some inspiration!</p>
            </div>
        {% end if %}
        </div>
    </div>
{% include template/footer.html %}
</html>