<!DOCTYPE html>
<html>
    <head>
        <script src="/static/js/jquery-1.7.2.min.js"></script>
        <script src="/static/js/lightbox.js"></script>
        <link href="/static/css/lightbox.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href= "/static/css/reset.css">
        <link rel="stylesheet" type="text/css" href= "/static/css/style.css">   
        <script src="http://code.jquery.com/jquery.min.js"></script>
        {% if is_logged_in %}
          <title>Tag It- 
          {{ username }}</title>    
        {% else %} 
            <title>Tag It</title>
        {% end if %} 
    </head>
    <body bgcolor="#eee">
        <header>
            <img id = "wrapper" class="logo" src="/static/images/logo.png">
            {% if is_logged_in %}
                {% include template/logout.html %}
            {% else %} 
                {% include template/login.html %}
            {% end if %}
        </header>