<html>
    <head>
        <link rel="stylesheet" type="text/css" href= "reset.css">
        <link rel="stylesheet" type="text/css" href= "style.css">   
    </head>
    <body bgcolor="#f5f5f5">
    <header>
        <img class="logo" src="logo.png">
        <form class="pull-right">
            <h2>{{person.name}}</h1>
            <a type="button" class="btn" name="sample">Logout</a>
        </form>
    </header>
    <div class="wrapper">
        <div class="pull-left third-span">
            <h1>Test</h1> 
            <h2>Test</h2>
            <h3>Test</h3>
            <h4>Test</h4>
            <h5>Test</h5>
            <h6>Test</h6>
            <p> This is a paragraph, block of text</p>
            <ul> 
                <li> element1</li>
                <li> element2</li>
            </ul>
            <ol>
                <li> ordered1</li>
                <li> ordered2</li>
            </ol>
            <a type="button" class="btn" name="sample"> Sample Button </a>
        </div>
        <div class="container pull-right third-span">
        <h1>Upload</h1>
            <form class="register">
                <input type="file" class="full-input-box" name="upload_photo" placeholder="Select a Photo">
                <input type="text" class="full-input-box" name="location" placeholder="Location"></br>
                <input type="text" class="full-input-box" name="artist" placeholder="Artist"></br>
                <textarea type="text" class="full-input-box" name="description" placeholder="Description"></textarea></br>
                <input type="button" class ="btn" name="upload" value="Upload!"></br>
            </form>
    </div>
    
    
    <ul id="photos">
        <li>
        <figure>
            <img src="samplepictures/sample1.jpeg"> 
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis dictum faucibus.</figcaption>
            </figure>
        </li>
         <li>
         <figure>
            <img src="samplepictures/sample2.jpeg"> 
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis dictum faucibus.</figcaption>
            </figure>
        </li>
         <figure>
            <img src="samplepictures/sample3.jpeg"> 
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis dictum faucibus.</figcaption>
            </figure>
        </li>
         <li>
           <figure>
            <img src="samplepictures/sample4.jpeg"> 
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis dictum faucibus.</figcaption>
            </figure>
        </li>
        <li>
            <figure>
            <img src="samplepictures/sample5.jpeg"> 
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis dictum faucibus.</figcaption>
            </figure>
        </li>
        <li>
        
        </li>
    </ul>
    
   

    <footer>
        <p class="wrapper">&#169 copyright NCSS 2013  | <a href="">about</a> | <a href="">privacy</a> | <a href="">terms</a><a href=""></a><img class="footer-logo" src="spray-can.png"></p>
    </footer>
    </body> 
</html>
    