{% include template/header.html %}
    <div class="wrapper">
        <div class="pull-left third-span">
            <h1>Test</h1> 
            <h2>Test</h2>
            <h3>Test</h3>
            <h4>Test</h4>
            <h5>Test</h5>
            <h6>Test</h6>
            <p> This is a paragraph, block of text</p>
            <ul> 
                <li> element1</li>
                <li> element2</li>
            </ul>
            <ol>
                <li> ordered1</li>
                <li> ordered2</li>
            </ol>
            <a type="button" class="btn" name="sample"> Sample Button </a>
        </div>
        {% include template/register.html %}
    </div>
    
    
    <ul id="photos">
        <li>
        <figure>
            <img src="/static/uploads/sample1.jpeg"> 
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis dictum faucibus.</figcaption>
        </figure>
        </li>
        <li>
        <figure>
            <img src="/static/uploads/sample2.jpeg"> 
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis dictum faucibus.</figcaption>
            </figure>
        </li>
        <li>
        <figure>
            <img src="/static/uploads/sample3.jpeg"> 
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis dictum faucibus.</figcaption>
        </figure>
        </li>
        <li>
        <figure>
            <img src="/static/uploads/sample4.jpeg"> 
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis dictum faucibus.</figcaption>
        </figure>
        </li>
        <li>
        <figure>
            <img src="/static/uploads/sample5.jpeg"> 
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis dictum faucibus.</figcaption>
        </figure>
        </li>
        <li>
        
        </li>
    </ul>
{% include template/footer.html %}