{% include template/header.html %}
{% include template/navigation.html %}
    <div class="wrapper">
        <div class="landing-container">
            <div class="register pull-right fourth-span">
                {% include template/register.html %}
            </div>
            <h1>Art off the street</h1>
        </div>
        
        <div class="container fourth-span pull-left margin-right container2-size">
            <h1>Geo Locate</h1>   
            <div>
                <img src="/static/images/geolocate.jpg" class="pull-left padding">
                <p class="padding">Tag your photos with a location using your phone or Google Maps. People can see where you took the photo and go see it themselves!</p>
            </div>            
        </div>
        
        <div class="container fourth-span pull-left margin-left margin-right container2-size">
            <h1>Follow</h1>   
            <div>
                <img src="/static/images/friends.jpg" class="pull-left padding">
                <p class="padding">Follow your friends and favourite artists as they post the art of the street and keep up to date with the latest street art!</p>
            </div>        
        </div>
        <div class="container fourth-span pull-left container2-size margin-left">
            <h1>Upload</h1> 
            <div>
                <img src="/static/images/imageicon.png" width="100" height="80" class="pull-left padding">   
                <p class="padding">Upload your photos from your phone or camera and tag them so you and your friends can view them.</p>
            </div>       
        </div>
        <!-- {% include template/register.html %} --> 
    </div>
{% include template/footer.html %}