{% include template/header.html %}
{% include template/navigation.html %}
    <link rel="stylesheet" type="text/css" href= "/static/css/profile.css">  
    <div class="wrapper2">
        <div class="pull-left padding third-span relly">
            <div class="pics">
                <img class="" src="static/images/box.png" width="180" height="250"> 
            </div>
             <div class="fourth-span border padding user ">
                <h2 class="name">{{ user.username }}</h2>
            </div>
            {% if is_friend %}
                <a class="btn-add" type="button" href="/delfriend/{{ user.username }}">- Unfollow</a>
            {% else %}
                <a class="btn-add" type="button" href="/addfriend/{{ user.username }}">+ Follow</a>
            {% end if %}
            {% include template/upload.html %}
        </div>
        
        <div class="pull-left fourth-span">
            <div class="half-span">
                <h2 id="info">Personal Info & Crap</h2>
                <form class="alternating-rows">
                    <p><label>Name:</label><input></p>
                    <p><label>Name:</label><input></p>
                    <p><label>Name:</label><input></p>
                    <p><label>Name:</label><input></p>
                    <p><label>Name:</label><input></p>
                    <p><label>Name:</label><input></p>
                    <p><label>Name:</label><input></p>
                    <p><label>Name:</label><input></p>
                    <p><label>Name:</label><input></p>
                    <p><label>Name:</label><input></p>
                    <p><label>Name:</label><input></p>
                    
                </form>
            </div>
        </div>
        
    </div>
    <div class="border bots">
        <div>
            {% for photo in photos %}
                <a href="{{ photo.url }}" rel="lightbox" title="{{ photo.caption }}">
                    <img src="{{ photo.url }}" width="200">
                </a>
            {% end for %}
        </div>
    </div>
    {% include template/footer.html %}   