{% include template/header.html %}
{% include template/navigation.html %}
    <div class="wrapper2">
        <div class="pull-left fourth-span">
            <div class="one-span container">
                <img class="border" src="static/images/box.png" width="70" height="70"> 
            </div>  
            <div class="fifth-span container padding">
                Username
            </div> 
            <div class="container padding">
                upload
            </div>
        </div>
        
        <div class="pull-left fourth-span">
            <div class="border half-span">
                <h3>Personal Info & Crap</h3>
            </div>
        </div>
    </div>
    {% include template/footer.html %}   