<form action='/register' method='POST'>
    <div class="padding">
        <div id="register-box" style="display:none">
            <input type="text" class="input-box pull-left" name="first_name" placeholder="First Name"></input>
            <input type="text" class="input-box pull-right" name="last_name" placeholder="Last Name"></input></br>
            <input type="text" class="full-input-box" name="email" placeholder="Email"></input></br>
            <input type="text" class="full-input-box" name="username" placeholder="Username"></input></br>
            <input type="password" class="full-input-box" name="password" placeholder="Password"></input></br>
            <input type="password" class="full-input-box" name="password_check" placeholder="Retype Password"></input></br>
            <h4 style="color:white">Birthday</h4>
            <input type="date" class="full-input-box" name="birthday" placeholder="Birthday"></input></br>
            <input type="radio" class="radio-button" name="sex" style="color:white"></input>
            <input type="radio" class="radio-button" name="sex" style="color:white"></input>
            <input class="register-btn full-input-box"type="submit" value="Register" onClick="" style="display:none">
        </div>
            <input class="register-btn full-input-box"type="button" value="Register" onClick="$('#register-box').slideDown()">
    </div>
</form> 