{% include template/header.html %}
{% include template/navigation.html %}
   <div class="wrapper2">
    {% include template/upload.html %}
        <ul class="feed-centre" id="photos">
            {% for photo in photos %}
            <li>
                <figure>
                <a href="{{ photo.url }}" rel="lightbox" title="{{ photo.caption }}">
                    <img src="{{ photo.url }}" width="200">
                </a>
                <figcaption>
                    <span class="user">{{ photo.uploader }}</span>
                    <p>
                    {{ photo.uploaddate }} <br/> <br/> 
                    </p>
                    <p>
                    {{ photo.description }}
                    </p>
                </figcaption>
            </figure>
            </li>
            {% end for %}
        </ul>
    </div>
{% include template/footer.html %}