{% include template/header.html %}
    <ul class = "landing-container feed-centre" id="photos">
        <li>
        <figure>
            <img src="static\images\mad_graff.jpg">
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis dictum faucibus.</figcaption>
            </figure>
        </li>
         <li>
         <figure>
            <img src="static\images\sample_images\sample2.jpeg"> 
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis dictum faucibus.</figcaption>
            </figure>
        </li>
        <li>
         <figure>
            <img src="static\images\sample_images\sample3.jpeg"> 
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis dictum faucibus.</figcaption>
            </figure>
        </li>
         <li>
           <figure>
            <img src="static\images\sample_images\sample4.jpeg"> 
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis dictum faucibus.</figcaption>
            </figure>
        </li>
        <li>
            <figure>
            <img src="static\images\sample_images\sample5.jpeg"> 
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis dictum faucibus.</figcaption>
            </figure>
        </li>
        <li> 
        
        </li>
    </ul>
{% include template/footer.html %}