            {% include template/header.html %}
                    <form action="/">
                        <input type="submit" value="Home"></input>
                    </form>
                        </br>
                    <form id="upload" method="post" enctype="multipart/form-data">
                        <input type="file" name="upload_image"></br>
                        <span class="form-text"> Tags (separated by spaces, cases are irrelevant): </span> <input type="text" name="tags">  </input><br>
                        <span class="form-text">Description</span><br /><textarea name="description" style="width:400px; height:75px;"></textarea><BR>
                        <input type="submit" name="Submit" value="Upload Image"></br>
                        <input type="submit" value = "Piclist" href = "/piclist"> </input>
                    </form>
                </body>
                {% include template/footer.html %}